@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f7fb;
}

body.tv-fullscreen aside {
  display: none !important;
}

body.tv-fullscreen main {
  margin-left: 0 !important;
  width: 100vw !important;
}

body.tv-fullscreen aside,
body.tv-fullscreen header,
body.tv-fullscreen .app-header,
body.tv-fullscreen .topbar,
body.tv-fullscreen nav {
  display: none !important;
}

body.tv-fullscreen #root {
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden !important;
}

body.tv-fullscreen .tv-controls {
  display: none !important;
}